:root {
  
  --primary: #00B98E;
  --secondary: #FF6922;
  --light: #EFFDF5;
  --dark: #0E2E50;
    --font-family-base: "Heebo", sans-serif;;
  --font-family-title:"Inter", sans-serif;;
  --font-size-small: 1.5rem;
  --font-size-medium: 2rem;
  --font-size-large: 3.5rem;
  --font-weight-regular: 400;
  --font-weight-bold: 900;
  --line-height-small: 1.2;
  --line-height-base: 1.5;
  --line-height-big: 1.8;
  --border-raduis :  10px;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  max-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/*******************************************/
.header{
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 9999;
}
.header .container{
  position:relative;
  display: flex;
  justify-content:space-between ;
  align-items: center;

}

.logo{
display:flex;
align-items: center;
}










