:root{
--text-color: rgba(0, 0, 0, 0.804) ;
--background: radial-gradient(circle, rgba(125,149,204,1) 0%, rgba(96,145,166,1) 100%);
--font-family-base: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
--font-family-title: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
--font-size-small: 1.2rem;
--font-size-medium: 1.6rem;
--font-size-large: 1.8rem;
--font-weight-regular: 400;
--font-weight-bold: 700;
--line-height-small: 1.2;
--line-height-base: 1.5;
--line-height-big: 1.8;
--border-radius: 50%;
--width-circle : 600px;
--height-circle : 600px;

}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    
  }
  
  body {
    max-width: 100%;
    max-height: 100vh;
    color: var(--text-color);
    background: var(--background);
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
  }
  .back-circle{
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    width: var(--width-circle);
    height: var(--height-circle);
    z-index: 3;
    position:fixed;
}
#color-one{
    background-color: #3B3FC5ff;
    left: 80%;
    bottom: 40%;
}
#color-two{
    background-color: #C1317Dff;
    right:80%;
    top: 40%;
}
.card {
    width: 50%;
    height: 100vh;
    border: 1px solid red;
    position: relative;
    z-index: 5;
    margin: 0 auto;
}
  img{
    width: 200px;
    height:200px;
 }
  
  
